
body {
	margin: 50px 100px 100px 100px;
	/*margin-left: 70px;*/
	/*margin-right: 70px;*/
}

.header {
	/*height: 30px;*/
	/*background-color: blue;*/
	text-align: center;
	/*padding-top: 30px;*/
	/*padding-bottom: 30px;*/
	font-size: 2em;
}

.header h1 {
	margin-bottom: 10px;
}

.container {
	height: 500px;
	width: 500px;
	padding: 10px;
	background-color: lightgrey;
	margin: 0 auto;
}

.gameSquare {
	height: 30%;
	width: 30%;
	/*background-color: green;*/
	float: left;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	font-size: 7em;
}

.wallV {
	height: 30%;
	width: 5%;

	background-color: black;
	float: left;
}

.wallH {
	height: 5%;
	width: 100%;

	background-color: black;
	float: left;
}